#navbar{
    display: flex;
    justify-content: space-evenly;
}
button{
    background-color: aqua;
    border-radius: 15%;
    width: 35%;
}
#container1{
    display: flex;
    justify-content: space-evenly;
}
#footer{
    background-color: aqua;
    
    
}
.img{
    width: 10%;
    height: 5%;
}
#imgfooter{
    display: flex;
    justify-content: space-evenly;
}
#wordings{
    text-align: center;
}
@media screen and (max-width:1280px) {
    body{
        #navbar{
            font-size: x-small;
            text-align: center;
            
        }
        button{
            width: 15%;
        }
        input{
            width: 15%;
        }
        #container1{

        }
        .img1{
            width: 130px;
            height: 70%;
        }
        .img{
            width: 15%;
            height: 15%;
        }
        .img2{
            width: 15%;
            height: 5%;
        }
        .second{
            width: 50%;
        }
        .sec{
            width: 85%;
        }
    }
    
}